<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head >
</head>
<body>
<object data="fragments/header.html" th:include="fragments/header::header" th:remove="tag" />
<div class="container">
    <div class="mt-3">
        <h2>授权确认</h2>
    </div>

        <p>
            Do you authorize "${authorizationRequest.clientId}" at "${authorizationRequest.redirectUri}" to access your protected resources
            with scope ${authorizationRequest.scope?join(", ")}.
        </p>
        <form th:action="@{/oauth/authorize}" method="post">
            <input name="user_oauth_approval" value="true" type="hidden" />
            <button class="btn btn-primary" type="submit">Approve</button>
        </form>
        <form th:action="@{/oauth/authorize}" method="post">
            <input name="user_oauth_approval" value="false" type="hidden" />
            <button class="btn btn-primary" type="submit">Deny</button>
        </form>
</div>
<!-- /.container -->

<object data="fragments/footer.html" th:include="fragments/footer::footer" th:remove="tag" />
</body>
</html>
